<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChillRelaxing"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".ui.Player.CafeChill.CafeChillActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.AirTravel.AirTravelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Train.TrainJourneyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Desert.DesertActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Underwater.UnderwaterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Waterfall.WaterfallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Farm.FarmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Lake.LakeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Fire.FireActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Night.NightActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Rain.RainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Forest.ForestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Custom.CustomSoundPickerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Player.Ocean.OceanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.Activity.GoPremiumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.Activity.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.Activity.CreditsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.Activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.Activity.MoreFreeAppsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>